<fiche>
  <titre>Bienvenue en Gwendalavir</titre>
  <content>
    <block>
      Félicitations @\"{USERNAME}\", ta fiche est officiellement validée !
      <br/><br/>
      {MESSAGE}
    </block>
    <block>
      N\'hésite pas à faire ton <a href="/f39-journaux-de-personnages" target="_blank">journal de personnage</a>. Tu peux également faire une <a href="/t2264-rp-demande" target="_blank">demande de RP</a> et une <a href="/t2262-liens-demande target="_blank">demande de lien</a>.
      <br/><br/>
      Enfin, tu peux allez jeter un œil aux <a href="/f53-quetes target="_blank">quêtes</a> en cours !
    </block>
    <block>
      Nous restons à ta disposition pour toutes demandes ou questions. Une fois encore bienvenue parmi nous et bon jeu !
    </block>
  </content>
</fiche>
