<div class="sheet">
  <div class="title">Bienvenue en Gwendalavir</div>
  <div class="content">
    <div class="block">
      <p>Bienvenue sur le forum, @"{USERNAME}" !</p>
      <p>{MESSAGE}</p>
    </div>
    <div class="block">
      <p>Je t'invite à consulter <a href="/f38-encyclopedie" target="_blank">l'Encyclopédie</a> si tu as des questions sur l'univers de Gwendalavir.</p>
      <p>Tu peux également aller jeter un œil au <a href="/t2066-guide-du-nouveau-joueur" target="_blank">Guide du Nouveau Joueur</a> pour t'aider à bien débuter sur le forum et construire ta fiche. Tu peux aussi aller faire une <a href="/t2260-parrainage-gestion" target="_blank">demande de parrainage</a> si tu en ressens le besoin.</p>
      <p>Lorsque tu as terminé, tu dois passer par <a href="/t2261-fiche-terminee-passage-obligatoire">ce sujet</a> pour nous le signaler. Cela nous permet de te recenser plus facilement.</p>
    </div>
    <div class="block flex">
      <div class="icon"><i class="material-icons">forum</i></div>
      <p>Nous n'avons pas de ChatBox, mais tu peux nous rejoindre sur <a href="https://discord.gg/nG4wy3r" target="_blank">Discord</a>. Pense à inclure ton pseudo du forum dans ton pseudo sur le serveur car c'est obligatoire !</p>
    </div>
    <div class="block flex">
      <div class="icon"><i class="material-icons">help</i></div>
      <p>N'hésite pas à poser tes questions dans la section des <a href="/f37-questions-et-idees" target="_blank">Questions</a> ou dans le salon [b]#questions[/b] sur Discord. Privilégie ces moyens pour une réponse rapide !</p>
    </div>
    <div class="block">
      <p>Bon courage pour la rédaction de ta fiche.</p>
    </div>
  </div>
</div>
