.mod-buttons {
	margin: auto;
	margin-bottom: 16px;
	max-width: 500px;
	text-align: center;
}

.mod-buttons > div {
	display: inline;
}

.mod-buttons button {
	margin: 2.5px;
}

.mod-buttons i.material-icons {
	vertical-align: bottom;
}
