<div class="mod-buttons">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" id="reply" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="material-icons">reply</i> Répondre
			<div class="dropdown-menu" aria-labelledby="reply">
				<a class="dropdown-item" id="welcome">Message de Bienvenue</a>
				<a class="dropdown-item" id="news">Demander des Nouvelles ?</a>
				<a class="dropdown-item" id="archive">Archiver</a>
			</div>
		</button>
	</div>
	<button class="btn btn-default btn-green" id="validate"><i class="material-icons">check</i> Valider</button>
	<button class="btn btn-default btn-red" id="reject"><i class="material-icons">block</i> Rejeter</button>
	<button class="btn btn-default" id="listing"><i class="material-icons">list</i> Listes</button>
	
	<form style="padding:5px;text-align:left" id="rejectReasons">
		<hr style="margin-bottom:5px">
		<div class="form-group">
			<label for="message">Message personnalisé :</label>
			<textarea class="form-control" rows="3" name="message" placeholder="Message personnalisé..."></textarea>
		</div>
		<div class="form-group">
			<label for="reasons">Ce qu'il faut corriger :</label>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="reasons" id="sizeAvatar" value="sizeAvatar"/>
				<label class="form-check-label" for="sizeAvatar">La taille de l'avatar est incorrecte.</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="reasons" id="pseudo" value="pseudo"/>
				<label class="form-check-label" for="pseudo">Le pseudo est incorrect.</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="reasons" id="wordCount" value="wordCount"/>
				<label class="form-check-label" for="wordCount">Les descriptions sont trop courtes.</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="reasons" id="typeAvatar" value="typeAvatar"/>
				<label class="form-check-label" for="typeAvatar">L'avatar n'est pas dessiné.</label>
			</div>
		</div>
		<div class="form-group">
			<label for="other">Autres corrections nécessaires :</label>
			<br/>
			<button class="btn btn-default" onclick="addReason()" style="margin:5px"><i class="material-icons" style="margin:-4px">add</i></button>
			<button class="btn btn-default" onclick="removeReason()" style="margin:5px"><i class="material-icons" style="margin:-4px">remove</i></button>
		</div>
		<ol>
		</ol>
	</form>

	<div id="message">
		<hr/>
		<form class="flex" method="post" style="padding:5px;text-align:left">
			<div class="form-group" style="flex:1;margin-bottom:unset">
				<label for="message">Message personnalisé</label>
				<textarea class="form-control" rows="3" name="message" placeholder="Message"></textarea>
			</div>
			<button class="btn btn-default" title="Envoyer" type="submit" style="height:86px;margin-left:5px;margin-top:31px"><i class="material-icons" style="margin:0 -4px">send</i></button>
		</form>
	</div>
</div>
