<div class="sheet">
	<div class="title">Fiche Validée</div>
	<div class="content">
		<div class="block">
			<p>Félicitations @"{USERNAME}", ta fiche est officiellement validée !</p>
			<p>{MESSAGE}</p>
		</div>
		<div class="block">
			<p>N'hésite pas à faire ton <a href="/f39-journaux-de-personnages" target="_blank">journal de personnage</a>. Tu peux également faire une <a href="/t2264-rp-demande" target="_blank">demande de RP</a> et une <a href="/t2262-liens-demande target="_blank">demande de lien</a>.</p>
			<p>Enfin, tu peux allez jeter un œil aux <a href="/f53-quetes target="_blank">quêtes</a> en cours !</p>
		</div>
		<div class="block">
			<p>Nous restons à ta disposition pour toutes demandes ou questions. Une fois encore bienvenue parmi nous et bon jeu !</p>
		</div>
	</div>
</div>
